<nav class="site-navigation">
  <div class="container">
    <div class="logo">
      {% if page.title == "QLACK" %}
      <a class="logo-default" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
      {% endif %}
      <a class="logo-transparent" href="index.html"><img src="assets/img/logo-alt.png" alt="logo"></a>
    </div>

    <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="fa fa-bars"></i></a>

    <ul class="nav-menu">
      <li><a href="index.html" class="{{ include.activeIndex }}">HOME</a></li>
      <li><a href="fuse" class="{{ include.activeFuse }}">FUSE</a></li>
      <li><a href="util-tools" class="{{ include.activeUtilTools }}">UTIL & TOOLS</a></li>
      <li><a href="angular" class="{{ include.activeAngular }}">ANGULAR</a></li>
      <li><a href="webdesktop" class="{{ include.activeWebdesktop }}">WEBDESKTOP</a></li>
      <li><a href="lgtm" class="{{ include.activeLgtm }}">LGTM</a></li>
<!--      <li><a href="getting-started" class="{{ include.activeGettingStarted }}">GETTING STARTED</a></li>-->
    </ul>
  </div>
</nav>